*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
 /* font-family: "Inter", sans-serif; */
}

/* common class / typogrsphy */
.container{
 width: 78%;
 margin: 0 auto;
}

.heading{
 font-size: 36px;
 font-weight: 700;
 color: #1F1F1F;
 margin-bottom: 20px;
}

.category {
 flex: 1;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 20px;
 padding: 25px;
 border-radius: 16px;
}

.category h2{
 font-size: 36px;
 font-weight: 500;
 color: white;
}

.product-box ,
.product-box-1{
 display: flex;
 gap: 20px;
 justify-content: space-between;
}

.product-card,
.product-card-1{
 border: 2px solid #929292;
 border-radius: 20px;
 padding: 25px;
 max-width: 320px;
 text-align: center;
}

.product-card ,.product-card-1 *{
 margin-bottom: 10px;
}

.product-card img ,.product-card-1 img{
 width: 100%;
}

.product-card h3 , .product-card-1 h3{
 font-size: 20px;
}

.product-card p , .product-card-1 p{
 font-size: 12px;
 line-height: 20px;
 color: #4E4E4E;
 font-family: "Inter", sans-serif ;
}

.product-card h4 , .product-card-1 h4{
 font-size: 20px;
 font-weight: 600;
}

.product-card button , .product-card-1 button{
 padding: 12px 28px;
 border: none;
 border-radius: 6px;
 background-color: black;
 color: white;
 cursor: pointer;
 font-family: "Inter", sans-serif ;
}

#nav,
#hero,
#backpack,
#newsletter{
 margin-bottom: 60px;
}

#nav-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 0;
}

#nav-container .logo img{
 width: 100%;
 max-width: 148px;
}

#nav-container .menu img{
 width: 100%;
 max-width: 48px;
}

#hero-container{
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 30px;
 background-color: #FEEAE9;
 padding: 40px;
 border-radius: 24px;
}

.hero-content *{
 margin-bottom: 10px;
}

.hero-content h1{
 font-size: 44px;
}

.hero-content p{
 color: #4E4E4E;
 line-height: 26px;
}

.hero-content h2{
 color: #FF136F;
 font-weight: 500;
 font-size: 41px;
}

.hero-content button{
 padding: 12px 28px;
 border: none;
 border-radius: 6px;
 background-image: linear-gradient(to bottom, #FF589B, #FF136F);
 color: white;
 cursor: pointer;
}

.hero-img{
 width: 100%;
 max-width: 400px;
}

#category , #shoes ,#Backpack{
 margin-bottom: 100px;
}

.category-box{
 display: flex;
 gap: 26px;
 justify-content:space-between;
}

#news-container{
 background-color: #FFF2F1;
 padding: 146px;
 text-align: center;
}

#news-container h1{
 color: #1F1F1F;
 font-weight: 600;
 font-size: 30px;
}

#news-container p {
 color: #707070;
 font-weight: 500;
}

#news-container form{
 margin: top ;
 display: flex;
}

#news-container form input[type=text]  {
 width: 100%;
 padding: 10px;
 border: none;
}

#news-container form button{
 padding: 12px 28px;
 border: none;
 border-radius: 6px;
 border-bottom-left-radius: 0;
 border-top-left-radius: 0;
 background-image: linear-gradient(to bottom, #FF589B, #FF136F);
 color: white;
 cursor: pointer;
}

